extends layout

block content
  p Hi, welcome to my website!

  div(class="image-row")
    img(src="/images/hiking-pic.jpg" height="250")
    img(src="/images/rocket-pic.jpg" height="250")
    img(src="/images/grad-pic.jpg" height="250")

  p I'm a freshman in the University of Washington College of Engineering, passionate about software and aerospace technology.
  p I'm also a scholar of the Washington NASA Space Grant Consortium and a member of the Husky Satellite Lab.
  p Some of my other interests are 
    a(href="https://www.wta.org/@@backpacks/scrnm-kavellier" target="_blank") hiking
    |  and 
    a(href="https://www.instagram.com/kavel.rao.photo/" target="_blank") photography
    | !
