extends layout

block content
  h1= title
  p 
    a(href="/files/resume.pdf" download) resum&eacute;
    | &emsp;
    a(href="https://github.com/kavelrao") github
    | &emsp;
    a(href="kavelrao@uw.edu") kavelrao@uw.edu
  p Hi, welcome to my website!
  | I'm a freshman in the University of Washington College of Engineering passionate about software and aerospace technology.
  p I'm also a scholar of the Washington NASA Space Grant Consortium and a member of the Husky Satellite Lab. 

