doctype html
html
  head
    title Kavel Rao
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='navbar')
    div(class='container-main')
      h1(style="margin-bottom: 0px") Kavel Rao
      p(style="margin-top: 0.1em")
        a(href="/") home
        | &emsp;
        a(href="/projects") projects
        | &emsp;
        a(href="/files/Kavel-Rao_Resume.pdf" download) resum&eacute;
        | &emsp;
        a(href="https://github.com/kavelrao" target="_blank") github
        | &emsp;
        a(href="mailto: kavelrao@uw.edu") kavelrao@uw.edu
      block content
