extends layout

block content
  h2 Here are some of the projects I've done!
  p The projects listed here may be from personal endeavors, classes, or extracurricular activities. Also, see my smaller coding projects on 
    a(href="https://github.com/kavelrao" target="_blank") github
    | !

  div(class="project")
    div(class="project-section")
      div(class="project-info")
        h3 First Place Presentation - The American Rocketry Competition 2020 (TARC)
        p Rocketry is all about intentional design and data-driven iteration. In the 2020 season, I led a TARC team that emphasized these tenets. 
          | Although the main competition was cancelled because of the pandemic, I immediately signed my team up for the virtual presentation competition for a chance 
          | to show off our hard work over the year. After a slides review and a virtual conference, our presentation won First Place because of our 
          | analytical approach and professional delivery. 
        p Download: 
          a(href="files/tarc-presentation.pdf" download) Slides
    div(class="project-section project-embed")
      iframe(type="text/html" width="600" height="370" src="http://www.youtube.com/embed/hdi4dXQ5i9w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  
  div(class="project")
    div(class="project-section")
      div(class="project-info")
        h3 Enceladus Lander PDR - NASA L'Space Mission Concept Academy Fall 2020 (MCA)
        p On the south pole of Saturn's moon Enceladus, curious formations called "Tiger Stripes" emit bursts of ice, snow, and minerals into the air. 
          | In NASA's L'Space MCA, my team was tasked with designing a lander to investigate these ice plumes. 
          | For our mission concept, we chose to map the moon's subsurface and measure seismic activity that may contribute to the activity of the plumes. 
          | In writing the Preliminary Design Review for the mission, I focused on the lander communication systems 
          | and ensuring redundancies in all aspects of the mission design. 
        p Download: 
          a(href="files/t-t31-pdr.pdf" download) PDR
    div(class="project-section project-embed")
      iframe(src="files/t-t31-pdr.pdf" width="600" height="370")
