extends layout

block content
  div(class="project")
    div(class="project-section")
      div(class="project-info")
        h3 Real-Time FM Streaming with Captions - CSE 490 W, Spring 2021
        p This is my final project for CSE 490 W at the University of Washington, which is about wireless communication with a software focus. 
          | In my project, I used a Software Defined Radio to program a streaming FM radio player that uses a speech-to-text model to produce live captions as it plays. 
          | Through this project I learned a variety of signal processing and asynchronous programming techniques, 
          | and I wrote an extensive report outlining my findings. Check it out below!
        p View: 
          a(href="files/fm_radio_report.pdf" download) Writeup
          | , 
          a(href="https://github.com/kavelrao/fm-streaming" target="_blank") Code
    div(class="project-section project-embed")
      iframe(src="files/fm_radio_report.pdf" width="600" height="338")

  div(class="project")
    div(class="project-section")
      div(class="project-info")
        h3 First Place Presentation - The American Rocketry Competition, 2020 (TARC)
        p Rocketry is all about intentional design and data-driven iteration. In the 2020 season, I led a TARC team that emphasized these tenets. 
          | Although the main competition was cancelled because of the pandemic, I immediately signed my team up for the virtual presentation competition for a chance 
          | to show off our hard work over the year. After a slides review and a virtual conference, our presentation won First Place because of our 
          | analytical approach and professional delivery. 
        p View: 
          a(href="files/tarc-presentation.pdf" download) Slides
          | , 
          a(href="https://youtu.be/hdi4dXQ5i9w" target="_blank") Presentation
    div(class="project-section project-embed")
      iframe(width="600" height="338" src="https://www.youtube.com/embed/hdi4dXQ5i9w" frameborder="0" allowfullscreen)
  
  div(class="project")
    div(class="project-section")
      div(class="project-info")
        h3 Enceladus Lander PDR - NASA L'Space Mission Concept Academy, Fall 2020 (MCA)
        p On the south pole of Saturn's moon Enceladus, curious formations called "Tiger Stripes" emit bursts of ice, snow, and minerals into the air. 
          | In NASA's L'Space MCA, my team was tasked with designing a lander to investigate these ice plumes. 
          | For our mission concept, we chose to map the moon's subsurface and measure seismic activity that may contribute to the activity of the plumes. 
          | In writing the Preliminary Design Review for the mission, I focused on the lander communication systems 
          | and ensuring redundancies in all aspects of the mission design. 
        p View: 
          a(href="files/t-t31-pdr.pdf" download) PDR
    div(class="project-section project-embed")
      iframe(src="files/t-t31-pdr.pdf" width="600" height="338")
